<% provide(:title, "Home") %>

<h1><%= t "index.title" %></h1>
<p><%= t "index.description" %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to t("index.table_name"), :sort => "name" %></th>
      <th><%= t "index.table_description" %></th>
      <th><%= t "index.table_delete" %></th>
      <th><%= t "index.table_edit" %></th>
      <th><%= link_to t("index.table_date"), :sort => "created_at" %></th>      
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.description %></td>
        <td><%= link_to t("links.delete"), task, method: :delete,
        data: { confirm: "confirm" }, class: "btn btn-danger btn-xs" %></td>
        <td><%= link_to t("links.edit"), edit_task_path(task), class: "btn btn-primary btn-xs" %></td>
        <td><%= task.created_at.strftime("%B %d %Y, %l:%M%P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style='text-align:center'>
<%= paginate @tasks %>
</div>

&nbsp;

