<% provide(:title, "New") %>
  <div class="row">
    <div class="col-md-12">
      <h1><%= t "new.title" %></h1>
    </div>
    <%= form_for(@task) do |f| %>
      <% if @task.errors.any? %>
        <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <h2>Errors</h2>
            <ul>
              <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <br>
        </div>
        </div>
      <% end %>
      <div class="col-md-2">
        <%= f.label :name %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :name %>
      </div>
      <div class="col-md-2">
        <%= f.label :description %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :description %>
      </div>
      <div class="col-md-12">
        <%= f.submit %>
      </div>
    <% end %>
</div>
    &nbsp;
    
    <p> <%= link_to t("links.home"), root_path, class: "btn btn-primary btn-md" %></p> 
