<% provide(:title, "New") %>

<h1>New Task</h1>

    <%= form_for(@task, url: register_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Create task"%>
    <% end %>

    &nbsp;
    
    <p> <%= link_to "home", root_path, class: "btn btn-primary btn-md" %></p>
    