<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %> | To-Do List App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to "To-Do List App", root_path %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(new_task_path) %>"><%= link_to "Add Task", new_task_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><%= link_to "English", locale: "en" %></li>
      <li><%= link_to "Japanese", locale: "jp" %></li>
    </ul>
  </div>
</nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
